services:
  mariadb:
    restart: on-failure
    networks:
      - inception_net

    build: ./requirements/mariadb/
    image: mariadb
    container_name: mariadb-c
    environment:
      - DB_NAME=${DB_NAME}
      - DB_ADMIN=${DB_ADMIN}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}

    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping"]
      start_period: 3s
      interval: 3s
      timeout: 3s
      retries: 5

    volumes:
      - mariadb-vdata:/var/lib/mysql

  wordpress:
    restart: on-failure
    networks: 
      - inception_net

    build: ./requirements/wordpress/
    image: wordpress
    container_name: wordpress-c
    depends_on: 
      mariadb:
        condition: service_healthy

    environment:
      - WP_DB_HOST=${WP_DB_HOST}
      - WP_DB_NAME=${WP_DB_NAME}
      - WP_DB_ADMIN=${WP_DB_ADMIN}
      - WP_DB_USER=${WP_DB_USER}
      - WP_DB_USER_PASS=${WP_DB_USER_PASS}
      - WP_DB_PASSWORD=${WP_DB_PASSWORD}
      - WP_WEBSITE_URL=${WP_WEBSITE_URL}
      - WP_WEBSITE_TTILE=${WP_WEBSITE_TTILE}
      - WP_REDIS_HOST=${WP_REDIS_HOST}
      - WP_REDIS_PORT=${WP_REDIS_PORT}
      - WP_REDIS_DATABASE=${WP_REDIS_DATABASE}
      - WP_CACHE_KEY_SALT=${WP_CACHE_KEY_SALT}

    volumes:
      - wp-vdata:/var/www/html

  nginx:
    restart: on-failure
    networks:
      - inception_net

    build: ./requirements/nginx/
    image: nginx
    container_name: nginx-c
    depends_on:
      - wordpress
      - adminer
    ports:
      - 443:443
      - 4000:4000
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}

    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/sites-available/
      - wp-vdata:/var/www/html
      - adminer-vdata:/var/www/adminer


  redis:
    restart: on-failure
    networks:
      - inception_net

    build: ./requirements/redis/
    image: redis
    container_name: redis-c
    depends_on:
      - wordpress
    ports:
      - 6379:6379
    environment:
      - WP_REDIS_HOST=${WP_REDIS_HOST}
      - WP_REDIS_PORT=${WP_REDIS_PORT}
      - WP_REDIS_DATABASE=${WP_REDIS_DATABASE}
      - WP_CACHE_KEY_SALT=${WP_CACHE_KEY_SALT}
  
  ftp:
    restart: on-failure
    networks:
    - inception_net

    build: ./requirements/ftp/
    image: ftp
    container_name: ftp-c
    depends_on:
      - wordpress
    ports:
      - 21:21
      - 30000-30010:30000-30010
    environment:
      - FTP_USER=${FTP_USER}
      - FTP_PASSWORD=${FTP_PASSWORD}
      - FTP_DIR=${FTP_DIR}

    volumes:
      - wp-vdata:/home/ftpuser
  
  website:
    restart: on-failure
    networks:
      - inception_net
    
    build: ./requirements/website/
    image: website
    container_name: website-c
    ports:
      - 8080:8080

  adminer:
    restart: on-failure
    networks:
      - inception_net

    build: ./requirements/adminer/
    image: adminer
    container_name: adminer-c
    volumes:
      - adminer-vdata:/var/www/adminer
  
  cadvisor:
    container_name: cadvisor-c
    build: ./requirements/cadvisor
    restart: on-failure
    ports:
      - 5000:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - inception_net
    

networks:
  inception_net:
    name: inception-network
    driver: bridge

volumes:
  mariadb-vdata:
    name: mariadb-vdata
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/helarras/data/mariadb
  wp-vdata:
    name: wp-vdata
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/helarras/data/wordpress
  adminer-vdata:
    name: adminer-vdata
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/helarras/data/adminer